<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block content %}
<body>
    <form method = "POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ legend }}</legend>

            <div>
                {{ form.title.label }}

                {% if form.title.errors %}
                    <div>
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title}}
                {% endif %}
                
            </div>
            <div>
                {{ form.content.label }}
                
                {% if form.content.errors %}
                    <div>
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content}}
                {% endif %}
                
            </div>
            <div>
                {{ form.submit}}
            </div>

        </fieldset>
    </form>
</body>
{% endblock %}

</html>